.profile {
    .flex-container {
        gap: 60px;
        align-items: center;
    }

    .profile_image {
        width: 300px;
        height: 300px;
        img {
            border-radius: 100%;
        }
    }


    .profile_contact_data {
        div {
            margin: 10px 0;
         }
    }
    span {
        display: block;
    }
}
