.header-socail {
    background-color: #DC8742;
    padding: 10px 0px;
}

.header-socail ul {
    text-align: right;
}

.header-socail ul li {
    display: inline-block;
}

.header-socail ul li a {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    color: #DC8742;
    text-align: center;
    font-size: 12px;
    line-height: 26px;
}

header {
    height: auto;
}

.custom-heading {
    padding: 2rem 0;
}

.main-menu ul li a {
    font-size: 17px;
    line-height: 23px;
    font-weight: 400;
}

.main-menu ul li a.active,
.main-menu ul li a:hover {
    color: #df8842;
}

.home-hero-text h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-hero {
    text-align: center;
}

.btn-hero .btn {
    padding: 12px 7rem;
    font-size: 20px;
    line-height: 22px;
    border-radius: 6px;
}

button.intd {
    background: #DC8742;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 50px;

}

a.intd:hover {
    color: #DC8742
}

.statistics .statistic .statistic_number {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.statistics .statistic span.h5 {
    font-weight: 700;
}

.h2.is-centered {
    color: #2A4250;
    font-size: 3.6rem;
}


.custom-text p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

.review .review_content {
    text-align: left;
}

.review .review_content span.h4 {
    font-weight: 800;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.review .review_content span {
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
}

.review .review_content p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #2A4250;
}

.custom-h5 h5 {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}


footer .h4 {
    border-bottom: 5px solid #df8842;
    font-size: 2rem;
    text-transform: uppercase;
}

footer .col li,
footer .col a {
    color: #df8842;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.ftr-bttm {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    padding: 0;
}

.ftr-bttm h2 {
    color: #2A4250;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
}

.sidebar-brand {
    margin-bottom: 2rem;
}

.custom-text-2 label,
.custom-text-2 span {
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-text .form-group {
    margin-bottom: 2rem;
}

.custom-text .is-checkbox {
    margin-bottom: 10px;
}

.footer_image_2 {
    background-image: url(../images/footer-img.png);
    background-position: center center;
}

.footer_image_3 {
    background-image: url(../images/ftr-3.png);
    background-position: center center;
}

.login-main-wrap {
    width: 60%;
    margin: 0 auto;
}

.login-main-wrap .card-header {
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.testimo-form-wrap label,
.login-main-wrap label {
    font-size: 1.6rem;
    line-height: 1.2rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: #2A4250;
    margin-bottom: 1rem;
    display: block;
}

.testimo-form-wrap .form-control {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 400;
    height: 40px;
}

.testimo-form-wrap textarea.form-control {
    height: 120px;
}

.btn {
    font-size: 1.4rem;
}

.mb_3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.home-preference-table table tr td,
.home-preference-table table tr th,
.intake-table tr th,
.intake-table tr td {
    font-size: 1.5rem;
}

.home-preference-table table {
    width: 100%;
    margin-top: 2rem;
}

.home-preference-table table {
    width: 100%;
    margin-top: 2rem;
}

.pagination-wrapper .pagination {
    justify-content: center;
}

.main-label {
    font-weight: 700 !important;
    margin-bottom: 1rem;
    font-size: 18px !important;
    margin-top: 3rem !important;
}

.form-group .is-checkbox {
    margin-left: 2rem;
}

.login-main-wrap .checkmark {
    top: -6px;
}


.services-filter {
    margin-bottom: 2rem;
}

.services-filter span {
    font-size: 1.4rem;
    margin-right: 6px;
    font-weight: 500;
    display: block;
    color: #000;
    text-transform: capitalize;
}

.services-filter h6 {
    font-size: 1.6rem;
    margin-right: 12px;
    margin-bottom: 0;
    font-weight: 600;
}

.services-filter select {
    font-size: 1.4rem;
    max-width: 216px;
    height: 32px;
    padding: 0 2px;
    border: 1px solid #bbb;
}

.filter-wrap {
    margin-right: 1rem;
}

.payment-page-wrap {
    padding: 2rem;
    background: #eee;
    border-radius: 10px;
    width: 55%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #aaa;
}

.payment-page-wrap img {
    width: 250px;
}

.payment-page-wrap h3 {
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 600;
}

.payment-page-wrap h5 {
    font-size: 4rem;
    margin: 1rem 0;
    font-weight: 600;
    color: #df8842;
}


#checkout-button {
    font-size: 1.5rem;
    padding: .8rem 4rem;
    font-weight: 600;
    color: #fff;
    background-color: #df8842;
    border-radius: 8px;

}

/* user profile css start */
.user-profile-wrap {
    background-color: #eee;
    border-radius: 5px;
    padding: 2.5rem;
    border: 1px solid #aaa;
}

.user-profile-wrap h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 600;
    color: #2A4250;
    margin-bottom: 1.6rem;
}

.user-profile-wrap p {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 500;
    color: #2A4250;
}

a.activation_notice {
    float: right;
    color: #f4501e;
}

/* user profile css end */

.login-main-wrap .form-group label {
    margin-bottom: 2rem;
}

.cont {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 2rem;
}

/* Hide the browser's default radio button */
.cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.cont:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.cont input:checked~.checkmark {
    background-color: #df8842;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.cont input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.cont .checkmark:after {
    top: 7px;
    left: 7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
}

html {
    overflow-x: hidden;
}

.edit-table tr td input {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
}

.mobile-main {
    display: none;
}

.container {
    max-width: 1230px;
}

/* zoek new css start */
.zoek-view-sec {
    padding: 4rem 0;
}

.zoek-cards-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.zoek-media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.zoek-media-body {
    -ms-flex: 1;
    flex: 1;
}

.zoek-main-card {
    width: 32%;
    padding: 1.6rem;
    background-color: #f8faff;
    border-radius: 7px;
    margin-bottom: 2rem;
}

.zoek-main-card:nth-child(17),
.zoek-main-card:nth-child(14),
.zoek-main-card:nth-child(11),
.zoek-main-card:nth-child(8),
.zoek-main-card:nth-child(5),
.zoek-main-card:nth-child(2) {
    margin-left: 2%;
    margin-right: 2%;
}

.zoek-media-body h5,
.zoek-media-body h6 {
    margin: 0;
}

.zoek-main-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 1rem;
}

.zoek-media-body h5 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #232323;
    font-weight: 400;
}

.zoek-media-body h6 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #232323;
    margin-top: 10px;
    font-weight: 400;
}

.zoek-media-body h6 strong,
.zoek-media-body h5 strong {
    color: #2A4250;
}

.zoek-bottom-info {
    margin-top: 1rem;
}

.zoek-bottom-info p {
    margin: 0;
}

.zoek-bottom-info table {
    width: 100%;
}

.zoek-bottom-info table tr td p {
    padding-top: 6px;
    font-size: 14px;
    line-height: 19px;
}

.zoek-bottom-info table tr td p span {
    font-weight: 600;
    color: #2A4250;
}

.zoek-bottom-info table tr td:last-child {
    text-align: left;
    width: 50%;
}

.services-filter span {
    margin-right: 0px;
    margin-bottom: 6px;
    letter-spacing: 1px;
}

.services-filter select {
    background-color: #fff;
}

.services-filter select option {
    cursor: pointer;
}

.services-filter .btn {
    height: 40px;
    color: #fff;
    padding: 0 27px;
    border-radius: 7px;
}

.services-filter .btn i {
    margin-right: 6px;
}

.zoek-single-views {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.zoek-view-left {
    width: 40%;
}

.zoek-view-right {
    width: 56%;
    margin-left: 4%;
    background-color: #f8faff;
    padding: 1.2rem 2.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 7px;
}

.zoek-view-right table tr th {
    padding-bottom: 12px;
}

.zoek-view-right table tr th:first-child {
    text-align: left;
}

.zoek-view-right table tr td:last-child {
    text-align: right;
}

.zoek-mail-box-wrap {
    margin-top: 2rem;
    background-color: #f8faff;
    padding: 1.6rem;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.zoek-mail-box-wrap h4 {
    color: #2A4250;
    font-weight: 500;
    font-size: 18px;
}

.zoek-mail-box-wrap label {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    color: #232323;
    margin-bottom: 10px;
}

.zoek-mail-box-wrap textarea {
    height: 120px;
    resize: vertical;
    padding-top: 5px;
}

.zoek-mail-box-wrap textarea,
.zoek-mail-box-wrap input {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    color: #232323;
    margin-bottom: 10px;
    border-radius: 7px;
}

.form-btn .btn-submit {
    padding: 5px 20px !important;
    color: #fff;
    background-color: #DC8742;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    border-radius: 7px;
    height: 40px;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* zoek new css end */


#preview {
    border-radius: 50%;
}

.prev-inner {
    max-width: 60px !important;
}

.left-sidebar-filter-wrap {
    width: 20%;
}

.zoek-cards-wrap {
    width: 80%;
}

.secondary-parent-wrap {
    display: flex;
    align-items: flex-start;
}

.filter-wrap {
    margin-bottom: 1.5rem;
}

.filter-wrap span {
    font-weight: 600;
}

/* .d-flexx{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.d-flexx .is-checkbox {
    margin-bottom: 0;
    margin-top: 0;
}

.d-flexx label span {
    font-size: 13px;
    font-weight: 400;
    margin-left: 0;
}

.d-flexx .is-checkbox .custom-checkbox {
    width: 17px;
    height: 17px;
}

.d-flexx .is-checkbox .custom-checkbox::after {
    width: 5px;
    top: -1px;
    height: 8px;
}

.services-main-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* responsive css start */
@media(min-width: 320px) and (max-width: 991px) {
    .logo a {
        display: block;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .custom-heading {
        padding: 3rem 0;
    }

    .logo a img {
        display: inline-block;
    }

    .header-socail ul {
        text-align: center;
    }

    .main-menu ul li a {
        text-align: center;
        display: block;
    }

    .cta_header .btn {
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        line-height: 40px;
    }

    .home-hero-text h1 {
        font-size: 30px;
        line-height: 40px;
    }

    br {
        display: none;
    }

    .h2.is-centered {
        font-size: 2.8rem;
    }

    .custom-text p {
        font-size: 16px;
        line-height: 22px;
    }

    .custom-text-2 br {
        display: block;
    }

    footer .h4 {
        font-size: 1.4rem;
    }

    footer .col li,
    footer .col a {
        font-size: 1.4rem;
    }

    .login-main-wrap {
        width: 100%;
    }

    header .flex-container {
        text-align: center;
    }

    .main-header {
        display: none;
    }

    .mobile-main {
        margin-top: 0rem;
        position: relative;
        z-index: 9999;
        display: block;
    }

    /* mobile menu start */

    #menuToggle {
        position: relative;
        left: 5%;
        top: -21px;
        /* display: block; */
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
    }

    #menuToggle a.active,
    #menuToggle a:hover {
        color: #DC8742;
    }


    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #DC8742;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu {
        position: absolute;
        text-align: center;
        width: 113%;
        padding: 80px 30px 30px;
        background: #f8faff;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        left: -42px;
        top: -42px;
    }

    #menu li {
        padding: 10px 0;
    }

    #menu li {
        font-size: 16px;
        font-weight: 400;
    }

    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked~ul {
        transform: none;
    }

    .text-white {
        color: #fff !important;
    }

    .zoek-cards-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .zoek-main-card {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .zoek-main-card:nth-child(17),
    .zoek-main-card:nth-child(14),
    .zoek-main-card:nth-child(11),
    .zoek-main-card:nth-child(8),
    .zoek-main-card:nth-child(5),
    .zoek-main-card:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
    }

    .services-filter {
        align-items: flex-start;
        margin-bottom: 2rem;
        flex-wrap: wrap;
    }

    .filter-wrap {
        flex: 0 50%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .filter-wrap span {
        margin-left: 2%;
        font-size: 12px;
    }

    .filter-wrap select {
        max-width: 95%;
    }

    .services-filter .btn {
        margin-top: 1.6rem;
        display: block;
        width: 49%;
    }

    .zoek-single-views {
        flex-direction: column;
    }

    .zoek-view-left {
        width: 100%;
    }

    .zoek-view-right {
        width: 100%;
        margin-top: 2rem;
        margin-left: 0%;
    }
}

@media(min-width: 550px) and (max-width: 767px) {
    #menu {
        left: -56px;
    }

}

@media(min-width: 768px) and (max-width: 991px) {
    #menu {
        left: -96px;
    }

    .zoek-cards-wrap {
        flex-direction: inherit !important;
        flex-wrap: wrap !important;
        align-items: flex-start;
    }

    .zoek-main-card {
        flex: 0 48%;
        width: 48% !important;
        margin-right: 12px;
    }

}


/* responsive css end */


input#geen_voorkeur {
    cursor: pointer;
    margin: 5px;
    opacity: 1;
    height: 14px;
}